<div class="weatherWidget">
  {{#each partials.weathers.locations}}
    <div class="location">
      <h3>{{name}}</h3>
      <span>{{weather}}</span>
      <span class="text-info">{{temp}}</span>
    </div>
  {{/each}}
</div>
